body{
    margin: 0px;
}
.background-home{
   width: 100%;
   position:absolute;
   height:100%;

}
.h1{
    height: 200px;
    width: 100% ;
    margin-left: 8px;
    text-decoration:none;
}
.head{
    display: flex;
    position:sticky;
    height: 100px;
    width: 100%;
    top: 0px;
    justify-content: space-between;
    border: solid darkgray 1px;
    background-color:#F3E9DC;
}
.head1{
    display: flex;
    position:relative;
    top: 0px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    color:transparent;
}
.logo{
    height: 100px;
    width:100px ;
}
.list{
    color:darkgrey;
    display: flex;
    flex-direction:row;
    width: 400px;
    justify-content:space-evenly;
    list-style-type: none;
    align-items: center;
}
.link{
    text-decoration: none;
    color:darkgray;
    font-size: medium;
}

.link:hover{
    color: #000;
    font-size:larger;
}
.container{
    height: 400px;
    width:80% ;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 20px;
    margin-left:10% ;
    
 

}
.item{
    height: 400px;
    width: 33.33%;
    background-color: #F3E9DC;
    border:1px solid black;
    text-decoration: none;
}
    
  

.pic{
    height: 300px;
     width: 100%;
}
.nom{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-style: italic;

}
.intro{
    height:400px ;
    width: 500px;
    color:rgb(0, 0, 0);
    margin: 40px 0 0 0;
    display: block;
}
.h1{
    color: #B6AE9F;
    height:300px ;
    width:300px;
}
.h1pro{
    display: flex;
    justify-content: center;
    color: rgb(36, 36, 36);
    font-weight: lighter;
}
.h2pro{
    text-align: center;
    font-size:large;
    color: #474329;
}
.price{
display: flex;
}
.box1{
    display: flex;
    justify-content: space-between;
}
.ringtag{
    height:600px ;
    width:600px;
}
.dec{
    display: flex;
    justify-content: center;
    align-items:center;

    
}
.h11{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.product-title {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 20px;
}


.product-ref {
    color: #777;
    margin-bottom: 8px;
    font-size: 18px;
}

.product-price {
    font-size: 22px;
    margin: 20px 0;
}

.line {
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 25px 0;
}

.discover {
    font-size: 18px;
    
}

.discover:hover {
    text-decoration: underline;
}

.size-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.size-btn {
    margin: 20px;
    padding: 18px 40px;
    font-size: 16px;
    border: 1px solid #000;
    background-color: transparent;
}

.size-btn:hover {
    background: darkgray;
    color: #fff;
}
.box2{
    margin-right: 5cm;
}
.about{
    display: flex;
    position:relative;
    font-size: larger;
    justify-content: center;
    width: 80%;
    margin: 10%;
}
.aboutcaption{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 20px;
    font-size: 30px;
}
.login{
    height: auto;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #777;

    
}
.email{
   margin:auto;
}
.ep{
    font-size:large;
}
.input{
    padding: 20px 30px;
    margin-top: 5px;
    margin-left: 15px;
    background-color:#B6AE9F ;
    color: #000;
}
.input:hover{
    background-color: #fff;
    
}
.colection-con{
    display: flex;
    justify-content:space-evenly;
    margin-top: 100px;
    width: 100%;
    position: relative;
}
.colection-img{
    border-radius: 2px ;
    height: 400px;
    width:50%;
    box-shadow: 10px 10px 10px rgb(158, 153, 153) ;
    display: inline;
}
.col-des{
    display: flex;
    align-items: center;
    gap: 15px;

}
.font{
    font-weight: lighter;
    font-size:x-large;
}
.colection-label{
    display: flex;
    justify-content: center;
}
.colection-img1{
    border-radius: 10px ;
    height: 400px;
    width:300px;
    box-shadow: 10px 10px 10px rgb(158, 153, 153) ;

}
.title-home{
    position: relative;
    margin-left: 20% ;
    margin-top: 10%;
}
.home-h1{
    font-size: 42px;
    font-weight: 500;
}
.home-p{
    font-size: 30px;
    font-weight: 500;
}
.col-link{
    text-decoration: none;
    color: #000;
}
.label{
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    text-align: center;
    
}
.label:hover{
    text-decoration: underline;

}
